[Unit]
Requires=network-online.target
After=automation-interface-dns-container.service

[Service]
Type=oneshot
ExecStart=/usr/bin/api-infoblox-container.sh start
ExecStop=/usr/bin/api-infoblox-container.sh stop
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
